{% extends "basenolayer.html.twig" %}

{% block title %}
	Facture
{% endblock %}

{% block body %}
	<div class="text-center mt-2">
		<img src="/images/assets/logo.webp" alt="">
	</div>
	<div class="container">
		<div class="mt-5 mb-5" style="margin-left: 65%;">
			<p>{{invoice.toName}}
				<br>
				{{invoice.toAdress}}
				<br>
				{{invoice.toPostCode}}
				{{invoice.toCity}}</p>
		</div>
		<div class="mt-5 mb-5">
			<p>
				FACTURE n°
				{{invoice.id}}
				du
				{{invoice.date | date('d/m/Y')}}</p>
		</div>

		<div>
			<table class="table">
				<thead>
					<tr>
						<th>Date
						</th>
						<th>Designation</th>
						<th>Prix unitaire</th>
						<th>Quantité</th>
						<th>Prix total</th>
					</tr>
				</thead>
				<tbody>
					{% for line in invoice.invoicelines %}
						<tr>
							<td>{{line.date | date('d/m/Y')}}</td>
							<td>{{line.wording}}</td>
							<td>{{line.unitPrice | amount}}</td>
							<td>{{line.qty}}</td>
							<td>{% set totalline = line.unitPrice * line.qty %}
								{{totalline | amount}}
							</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4" class="text-end">
							<b>TOTAL :
							</b>
						</td>
						<td>
							<b>{{invoice.totalAmount | amount}}</b>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="text-center mt-3 mb-5">
			Association non fiscalisée
		</div>

		<div class="text-center position-relative start-50 translate-middle mt-5">
			<p>
				<b>IRON CLUB TRIATHLON</b><br>
				2 rue du chêne
				<br>
				68130 CARSPACH
				<br>
				SIRET : 484 896 186 00017

			</p>
		</div>
	</div>
{% endblock %}
