{% extends "@EasyAdmin/layout.html.twig" %}

{% block page_title %}
	Comptes
{% endblock %}

{% block content %}
	<article class="content">
		<section class="content-header">
			<div class="content-header-title">
				<h1>Liste des comptes</h1>
			</div>
		</section>
		<section class="content-body">
			<div class="jumbotron">

				<table class="table">
					<thead>
						<tr>
							<th>Numéro de compte</th>
							<th>Libélé</th>
							<th>Débit</th>
							<th>Crédit</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for account in accounts %}
							<tr>
								<td>{{ account.number }}</td>
								<td>{{ account.name }}</td>
								<td>
									{{ account.debit | amount }}</td>
								<td>{{ account.credit | amount }}</td>
								<td>
									<a href="{{ ea_url().setRoute('admin_accounting_account', {'number': account.number}) }}" class="btn btn-link">Voir</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
		</section>
	</article>
{% endblock %}
