{% extends "@EasyAdmin/layout.html.twig" %}

{% block page_title %}
	Comptes
{% endblock %}

{% block content %}
	<article class="content">
		<section class="content-header">
			<div class="content-header-title">
				<h1>Compte de résultat</h1>
			</div>
		</section>
		<section class="content-body">
			<div class="jumbotron">

				<table class="table">
					<thead>
						<tr>
							<th>Libélé</th>
							<th>Solde</th>
						</tr>
					</thead>
					<tbody>
						{% for product in products %}
							<tr>
								<td>{{ product.name }}</td>
								<td>
									{{ product.creditsolde | amount }}</td>

							</tr>
						{% endfor %}
						<tr>
							<td class="text-right">
								<b>Total Produits</b>
							</td>

							<td>{{ totalproduct | amount }}</td>
						</tr>
						{% for charge in charges %}
							<tr>
								<td>{{ charge.name }}</td>
								<td>
									{{ charge.debit | amount }}</td>

							</tr>
						{% endfor %}
						<tr>
							<td class="text-right">
								<b>Total Charges</b>
							</td>

							<td>{{ totalcharge | amount }}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td class="text-right">
								<b>Résultat</b>
							</td>
							<td>
								{% set result = totalproduct - totalcharge %}
								<b>{{ result | amount}}</b>
							</td>
						</tr>
					</tfoot>

				</table>

			</div>
		</section>
	</article>
{% endblock %}
