{% extends 'base.html.twig' %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap mb-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('home') }}">Accueil</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('shop') }}">Boutique</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('shop_category', {'slug': product.category.slug}) }}">{{ product.category.name }}</a>
            </li>
            <li class="breadcrumb-item active">{{ product.name }}</li>
        </ol>
        <div class="ms-auto">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('shop_orders') }}">
                        <i class="fas fa-box-open"></i>
                        Mes commandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('shop_cart') }}">
                        <i class="fas fa-shopping-cart"></i>
                        Panier ({{ cartService.total | amount }})</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 d-flex justify-content-around">
            <img src="/uploads/shop/{{ product.picturePath }}" alt="Product image" class="img-fluid">

        </div>
        <div class="col-md-8">
            <h1>{{ product.name }}</h1>
            {% if product.seller %}
                <i>Vendu par : {{ product.seller }}</i>
            {% endif %}

            <p class="text-primary lead mt-5">
                {{ product.price | amount }}
            </p>
            <hr>
            <p>Taille :
                {% for variant in product.shopProductVariants %}
                    {{ variant.name }}
                {% endfor %}
            </p>
            {% if product.seller %}
                <h2>Contacte le vendeur</h2>
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">{{ product.seller }}</li>
                <li class="list-group-item">{{ product.seller.email }}</li>
            </ul>
                {% if app.user is same as product.seller %}
                    <div class="mt-5">
                        <a href="{{ path('troc_change_state', {'id': product.id}) }}" class="btn btn-danger">Retirer de la vente</a>
                    </div>
                {% endif %}
            {% else %}
                <h2>Choisis ton modèle</h2>
                {{ form_start(form, {'action': path('shop_cart_add')}) }}
                <div class="row">
                    <div class="col-4">{{ form_row(form.quantity) }}</div>
                    <div class="col-8">{{ form_row(form.variant) }}</div>
                </div>
                <button type="submit" class="btn btn-success">Ajouter au panier</button>
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            {{ product.description | raw }}

        </div>
    </div>
{% endblock %}
