{% extends 'base.html.twig' %}

{% block title %}Adhésion
{% endblock %}

{% block body %}
	{% if season == null %}
		<div class="row">
			<div class="col-md-6"><img src="images/assets/warning.svg" alt="warning" class="img-fluid"></div>
			<div class="col-md-6">
				<h1>Il n'y a pas de campagne d'adhésion en cours</h1>
				<a href="{{path('home')}}" class="btn btn-primary">Retour à l'accueil</a>
			</div>
		</div>
	{% else %}


		<h1>Mes adhésions</h1>
		Campagne d'adhésion pour la sasion :
		{{season.year}}
		<div class="row">
			<div class="col-xl-4 col-lg-6">
				<h4>Personnes non inscrites
				</h4>

				{% for member in enrollments %}
					{% if member.status == null %}
						<div class="card border-primary  mb-3 m-auto" style="max-width: 25rem;">
							<div class="card-header">{{member.memberId.firstName}}
								{{member.memberId.lastName}}
								{% if date(member.memberId.birthday) > date('-18years')  %}
									<span class="badge bg-primary">Jeune</span>
								{% endif %}
							</div>
							<div class="card-body">
								<h4 class="card-title">Pas encore inscrit</h4>
								<br>
								<p class="card-text text-center">
									<a href="{{ path('enrollment_member', { 'id': season.id, 'firstName': member.memberId.firstName, 'lastName': member.memberId.lastName }) }}" class="btn btn-light btn-lg">S'inscrire</a>
								</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}
				{% for member in youngs %}
					{% if member.status == null %}
						<div class="card border-primary  mb-3 m-auto" style="max-width: 25rem;">
							<div class="card-header">{{member.owner.firstName}}
								{{member.owner.lastName}}
								{% if date(member.owner.birthday) > date('-18years')  %}
									<span class="badge bg-primary">Jeune</span>
								{% endif %}
							</div>
							<div class="card-body">
								<h4 class="card-title">Pas encore inscrit</h4>
								<br>
								<p class="card-text text-center">
									<a href="{{ path('enrollment_member', { 'id': season.id, 'firstName': member.owner.firstName, 'lastName': member.owner.lastName }) }}" class="btn btn-light btn-lg">S'inscrire</a>
								</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			<div class="col-xl-4 col-lg-6">
				<h4>Inscription en cours
				</h4>
				{% for enrollment in enrollments %}
					{% if enrollment.status != null and enrollment.status != 'Dossier Validé'%}
						<div class="card text-white bg-primary mb-3 m-auto" style="max-width: 25rem;">
							<div class="card-header">{{enrollment.memberId.firstName}}
								{{enrollment.memberId.lastName}}</div>
							<div class="card-body">
								<h4 class="card-title">
									{{enrollment.status}}</h4>
								<p class="card-text text-center d-flex justify-content-between">
									<span class="text-center">
										{% if enrollment.status != "Dossier créé" %}
											<i class="fas fa-check-circle"></i><br>
										{% else %}
											<i class="far fa-circle"></i><br>
										{% endif %}
										Demande
									</span>
									<span class="text-center">
										{% if enrollment.paymentAt != null %}
											<i class="fas fa-check-circle"></i><br>
										{% else %}
											<i class="far fa-circle"></i><br>
										{% endif %}
										Paiement
									</span>
									<span class="text-center">
										{% if enrollment.isDocsValid == true %}
											<i class="fas fa-check-circle"></i><br>
										{% else %}
											<i class="far fa-circle"></i><br>
										{% endif %}
										Documents
									</span>
									<span class="text-center">
										<i class="far fa-circle"></i><br>
										Licence
									</span>
								</p>
								<p class="text-center">
									Montant de l'adhésion :
									{{enrollment.totalAmount | amount}}
									<br>
									{% if enrollment.status == 'Dossier créé' %}
										<a href="{{ path('enrollment_finalise', {'id': enrollment.id}) }}" class="btn btn-light">Accèder à la demande</a>
									{% endif %}
								</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}
				{% for enrollment in youngs %}
					{% if enrollment.status != null and enrollment.status != 'Dossier Validé'%}
						<div class="card text-white bg-primary mb-3 m-auto" style="max-width: 25rem;">
							<div class="card-header">{{enrollment.owner.firstName}}
								{{enrollment.owner.lastName}}
								<span class="badge bg-dark">Jeune</span>
							</div>
							<div class="card-body">
								<h4 class="card-title">
									{{enrollment.status}}</h4>
								<p class="card-text text-center d-flex justify-content-between">
									<span class="text-center">
										{% if enrollment.status != "Dossier créé" %}
											<i class="fas fa-check-circle"></i><br>
										{% else %}
											<i class="far fa-circle"></i><br>
										{% endif %}
										Demande
									</span>
									<span class="text-center">
										{% if enrollment.paymentAt != null %}
											<i class="fas fa-check-circle"></i><br>
										{% else %}
											<i class="far fa-circle"></i><br>
										{% endif %}
										Paiement
									</span>
									<span class="text-center">
										{% if enrollment.isDocsValid == true %}
											<i class="fas fa-check-circle"></i><br>
										{% else %}
											<i class="far fa-circle"></i><br>
										{% endif %}
										Documents
									</span>
									<span class="text-center">
										<i class="far fa-circle"></i><br>
										Licence
									</span>
								</p>
								<p class="text-center">
									Montant de l'adhésion :
									{{enrollment.totalAmount | amount}}
									<br>
									{% if enrollment.status == 'Dossier créé' %}
										<a href="{{ path('enrollment_finalise', {'id': enrollment.id}) }}" class="btn btn-light">Accèder à la demande</a>
									{% endif %}
								</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}

			</div>
			<div class="col-xl-4 col-lg-6">
				<h4>Inscrits
				</h4>
				{% for enrollment in enrollments %}
					{% if enrollment.status == 'Dossier Validé' %}
						<div class="card text-white bg-success mb-3 m-auto" style="max-width: 25rem;">
							<div class="card-header">{{enrollment.memberId.firstName}}
								{{enrollment.memberId.lastName}}</div>
							<div class="card-body">
								<h4 class="card-title">Dossier Validé</h4>
								<p class="card-text text-end">
									<i class="fas fa-check fa-3x"></i>
								</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}
				{% for enrollment in youngs %}
					{% if enrollment.status == 'Dossier Validé' %}
						<div class="card text-white bg-success mb-3 m-auto" style="max-width: 25rem;">
							<div class="card-header">{{enrollment.owner.firstName}}
								{{enrollment.owner.lastName}}
								<span class="badge bg-primary">Jeune</span>
							</div>
							<div class="card-body">
								<h4 class="card-title">Dossier Validé</h4>
								<p class="card-text text-end">
									<i class="fas fa-check fa-3x"></i>
								</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}

			</div>
		{% endif %}
	{% endblock %}
