{% extends "base.html.twig" %}

{% block title %}
	{% if race.id is null %}
		Nouvelle course
	{% else %}
		Edition
	{% endif %}
{% endblock %}

{% block body %}
	{% if race.id is null %}
		<h1>Nouvelle course</h1>
	{% else %}
		<h1>Edition</h1>
	{% endif %}
	<div class="container">
		{{form_start(form)}}
		<div class="row">
			<div class="col-md-8">
				{{form_row(form.name)}}
				{{form_row(form.description)}}
			</div>
			<div class="col-md-4">
				{{form_row(form.isForAdults)}}
				{{form_row(form.isForYoungs)}}
				{{form_row(form.date)}}
				{{form_row(form.location)}}
				{{form_row(form.link)}}
				{{form_row(form.signInLink)}}
			</div>
		</div>
		<div class="d-flex justify-content-end">
			{% if race.id  is null %}
				<button type="submit" class="btn btn-success">Ajouter la course</button>
			{% else %}
				<button type="submit" class="btn btn-success">Modifier la course</button>
			{% endif %}
		</div>
		{{form_end(form)}}
	</div>
{% endblock %}
