{% extends 'base.html.twig' %}

{% block title %}Ajout d'un résumé
{% endblock %}

{% block body %}
	<h1>Résumés :
		{{ race.name }}</h1>
	<h2>
		<small class="text-muted">
			{{race.date | date('d/m/Y')}}
			-
			{{race.location}}</small>
	</h2>
	<div class="d-flex justify-content-between mb-3">
		<a href="{{path('races_show', {'slug': race.slug})}}" class="btn btn-primary">
			<i class="fas fa-chevron-left"></i>
			Retour a la page de course</a>
	</div>
	{% for report in reports %}
		<div class="card border-primary mb-3">
			<div class="card-header">
				{{report.participant}}
				a écrit
			</div>
			<div class="card-body">
				<p class="card-text">
					<pre>{{report.content}}</pre>
				</p>
			</div>
		</div>

	{% endfor %}
{% endblock %}
