{% extends 'base.html.twig' %}

{% block title %}Entrainements
{% endblock %}

{% block body %}
	<h1>Derniers entrainements :</h1>
	<div class="row">
		<div class="col">
			<a class="btn btn-success" href="{{path('training_add')}}" role="button">
				<i class="fas fa-plus"></i>
				Ajouter un entrainement
			</a>
			{% if is_granted('ROLE_COMITE') %}
				<a class="btn btn-warning" href="{{path('training_settings')}}" role="button">
					<i class="fas fa-cog"></i>
					Paramètres
				</a>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<table class="table">
				<thead>
					<tr>
						<th>Date</th>
						<th>Sport</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for training in trainings %}
						<tr>
							<td>{{training.date | date('d/m/Y')}}</td>
							<td>
								{{training.sport.name}}
							</td>

							<td>
								<a href="{{path('training_show', {'id': training.id})}}" class="btn btn-primary">
									<i class="fas fa-eye"></i>
									Voir</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


{% endblock %}
