{% extends 'base.html.twig' %}

{% block title %}Entrainement
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12 d-flex justify-content-between">
			<a href="{{ path('training') }}" class="btn btn-link">
				<i class="fas fa-chevron-left"></i>
				Retour</a>
			<a href="{{ path('training_edit', {'id': training.id}) }}" class="btn btn-primary">
				<i class="fas fa-pen"></i>
				Editer</a>
		</div>
	</div>

	<h1>Entrainement du
		{{training.date | date('d/m/Y')}}
		:</h1>
	<span class="badge bg-primary">{{training.sport.name}}</span>
	<div class="row mt-2">
		<div class="col-12">
			{{training.content | raw}}

		</div>
	</div>

{% endblock %}
